body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #1f1c44;
}

h2 {
    text-align: center;
    padding: 20px;
}

h4 {
    text-align: center;
}

label {
    font-weight: bold;
}

button {
    width: 80% ;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5b86e6;
}

.container {
    margin-top: 150px;
}

.login-form {
    background: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 550px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-form input {
    box-sizing: border-box;
    width: 80%;
    height: 45px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}



.google {
    background: rgb(91,134,230);
    box-shadow: 0 2px 4px rgb(91,134,230, 0.507);
}

.get-started {
    background: rgb(230,91,124);
    box-shadow: 0 2px 4px rgb(230,91,124, 0.507);
    margin-bottom: 15px;
}

.sign-up {
    color: lightgrey;
}

::placeholder {
    color: lightgrey;
}

.input-div {
    text-align: left;
    margin-left: 32px;
}

